parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
        - tests/object-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
